/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    float: left;
    width: 66%;
    height: 100%;
    padding-left: 2%;
    padding-right: 2%;
    overflow: auto;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    div.content {margin-left: 0;}
}