/* The sidebar menu */
.inline_toc {
  float: left;
  padding: 0;
  height: 100%;
  width: 15%; /* Set the width of the sidebar */
  background-color: #111; /* Black */
  overflow: auto;
}
  
  /* The navigation menu links */
  .inline_toc a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .inline_toc a:hover {
    color: #f1f1f1;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .inline_toc {padding-top: 15px;}
    .inline_toc a {font-size: 18px;}
  }