/* The sidebar menu */
.toc {
  float: left;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 15%; /* Set the width of the sidebar */
    background-color: #111; /* Black */
    overflow-x: scroll;
  }
  
  /* The navigation menu links */
  .toc a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .toc a:hover {
    color: #f1f1f1;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .toc {padding-top: 15px;}
    .toc a {font-size: 18px;}
  }