<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
    </head>
    <body>
        <section>
            {% include navigation.html %}
            <div class="content">
                <h1>{{ page.title }}</h1>
                {{ content }}
            </div>
            <div class="toc">
                {% include toc.html html=content class="inline_toc" anchor_class="anchor" %}
            </div>
        </section>
    </body>
</html>