<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
        <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
    </head>
    <body>
        <section>
            {% include navigation.html %}
            <div class="content">
                <h1>{{ page.title }}</h1>
                {{ content }}
            </div>
            {% include toc.html html=content class="inline_toc" item_class="item" %}
        </section>
    </body>
</html>